amqp==5.0.5
anymarkup==0.8.1
anymarkup-core==0.8.1
asgiref==3.3.1
beautifulsoup4==4.9.3
billiard==3.6.3.0
celery==5.0.5
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
configobj==5.0.6
defusedxml==0.6.0
diff-match-patch==20200713
Django==3.1.7
django-cachalot==2.3.3
django-celery-beat==2.2.0
django-debug-toolbar==3.2
django-el-pagination==3.3.0
django-import-export==2.5.0
django-json-widget==1.1.1
django-redis==4.12.1
django-timezone-field==4.1.1
et-xmlfile==1.0.1
factory-boy==3.2.0
Faker==6.4.1
feedparser==6.0.2
future==0.18.2
gunicorn==20.0.4
idna==3.1
jdcal==1.4.1
json5==0.9.5
kombu==5.0.2
langdetect==1.0.8
Markdown==3.3.3
MarkupPy==1.14
odfpy==1.4.1
openpyxl==3.0.6
Pillow==8.1.0
prompt-toolkit==3.0.16
psycopg2-binary==2.8.6
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
redis==3.5.3
requests==2.25.1
sentry-sdk==0.20.3
sgmllib3k==1.0.0
six==1.15.0
sorl-thumbnail==12.7.0
soupsieve==2.2
sqlparse==0.4.1
tablib==3.0.0
text-unidecode==1.3
toml==0.10.2
urllib3==1.26.3
vine==5.0.0
wcwidth==0.2.5
xlrd==2.0.1
xlwt==1.3.0
xmltodict==0.12.0
