{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load urlparams %}

{% block extra_head %}
  <title>Вакансии для Django программистов | django_jobs_ru</title>
  <meta name="description"
        content="Вакансии и объявления Django Framework. Работа на полный день. Работа в офисе. Удаленная работа. Полная занятость. Частичная занятость.">
{% endblock %}

{% block main %}
  {{ block.super }}

  <main role="main" class="container">
    <div class="row py-5">
      <div class="btn-group offset-2" role="group" aria-label="Фильтр по языку">
        <a type="button"
           class="btn btn-secondary {% if active_lang == '' %}active{% endif %}"
           aria-label="Все языки"
           href="{% remove_query_params request 'language' %}">Все языки</a>
        <a type="button"
           class="btn btn-secondary {% if active_lang == 'ru' %}active{% endif %}"
           aria-label="Русский"
           href="{% add_query_params request language='ru' %}">🇷🇺</a>
        <a type="button"
           class="btn btn-secondary {% if active_lang == 'en' %}active{% endif %}"
           aria-label="Английский"
           href="{% add_query_params request language='en' %}">🇬🇧</a>
      </div>
    </div>

    {% for object in object_list %}
      <div class="row offset-md-2 d-flex">
        <div class="col-md-2 d-none d-md-block article-logo py-md-3">
          <div class="mb-4">
            <small class="article-date">{{ object.source_datetime|date:"d E" }}</small>
          </div>

          <div class="col-sm-2">
            {% if object.icon_url %}
              {% thumbnail object.icon_url "100" as im %}
                <a href="{% add_query_params request source=object.source.id %}">
                  <img class="img-fluid" src="{{ im.url }}">
                </a>
              {% endthumbnail %}
            {% elif object.source.icon %}
              {% thumbnail object.source.icon "100" as im %}
                <a href="{% add_query_params request source=object.source.id %}">
                  <img class="img-fluid" src="{{ im.url }}"></a>
              {% endthumbnail %}
            {% endif %}
          </div>
        </div>
        <div class="col-md-8 mr-auto py-3">
          <h1 class="article-header">
            <a target="_blank" href="{{ object.url }}">{{ object.title }}</a>
          </h1>
          <div class="article">{{ object.formated_article|safe }}</div>
        </div>
        <div class="col-md-10 py-4">
          <hr class="{{ css_hr_class }}">
        </div>
      </div>
    {% endfor %}
  </main>
{% endblock %}

{% block script %}
  {{ block.super }}
  <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
{% endblock %}